<div class="menu-container">
  <img src="../../assets/img/logo-blanc.png" alt="logo Ma Ligne 35" title="Ma Ligne 35">
  <ul>
    <li *ngFor="let item of HeaderMenuItems">
      <a routerLink="/{{item.url}}" routerLinkActive="active">{{item.name}}</a>
    </li>
  </ul>

  <div class="svg-menu-container">
    <svg version="1.1" viewBox="0 0 334.458 23.167" preserveAspectRatio="xMinYMin meet">
      <g id="Calque_1">
        <rect x="10.833" y="7.5" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="312" height="8"/>
      </g>
      <g id="accueil">
        <g>
          <circle fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" cx="11.146" cy="11.771" r="10.229"/>
          <circle cx="11.177" cy="11.802" r="4.01"/>
        </g>
      </g>
      <g id="trajet">
        <g>
          <circle fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" cx="167.146" cy="11.771" r="10.229"/>
          <circle cx="167.177" cy="11.802" r="4.01"/>
        </g>
      </g>
      <g id="grille">
        <g>
          <circle fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" cx="323.146" cy="11.771" r="10.229"/>
          <circle cx="323.177" cy="11.802" r="4.01"/>
        </g>
      </g>
    </svg>
  </div>
  <div class="clearfix"></div>
</div>
