*{
  padding: 0;
  margin: 0;
}

.clearfix{
  clear: both;
}

.menu-container{
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 2em;
  padding-bottom: 3em;
}

img{
  max-width:20%;
  float: left;
}

ul{
  float: right;
  list-style-type: none;
  height: 3.25rem;
  width: 60%;
}

ul li{
  float: left;
  width: 33%;
  height: 3.25rem;
  line-height: 3.25em;
  display: inline;
  text-align: center;
}

ul li a{
    line-height: 3.25em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5em;
}

ul li a:hover{
  background: white;
  color: #000;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

ul:after {
  content:'';
  display:block;
  clear: both;
}

.svg-menu-container{
  padding-right: 9%;
  float: right;
  position: relative;
  width: 42.5%;
  vertical-align: middle;
  overflow: hidden;
}

.svg-content{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
