ul{
    height: 3.25rem;
    background-color: rgba(0, 0, 0, 0.5);
}

ul li{
  height: 3.25rem;
  line-height: 3.25em;
  display: inline-block;
  width: 33%;
  text-align: center;
}

ul li a{
    display: block;
    line-height: 3.25em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul li a:hover{
  color: rgba(246, 230, 0, 0.9);
}
