#main-container{
  width: 60%;
  margin:0 auto;
}

.container{
  width:65%;
  float: left;
}

h2,
p{
  color: white;
}

h2{

}

p{
  text-align: justify;
}

img{
  float: left;
  display: block;
  max-width:30%;
  margin: 0 auto;
  padding-right: 1em;
}
